[submodule "alexgirard"]
	path = alexgirard
	url = git@github.com:alx/alexgirard.git
[submodule "jekyll"]
	path = jekyll
	url = git@github.com:alx/jekyll.git
[submodule "gh-pages"]
	path = gh-pages
	url = git@github.com:alx/alx.github.com.git
