<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Tom Preston-Werner" />
   <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Sitewide RSS Feed" />

	<!-- jquery -->
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Openid server -->
   <link rel="openid.server" href="http://openid.alexgirard.com/index.php/serve" />
   <link rel="openid.delegate" href="http://openid.alexgirard.com/?user=peeloo" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Alex Girard</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/"><img src="/images/gb.png" alt="in English" with="16px" height="11px"></a>
    <a class="extra" href="/index_fr.html"><img src="/images/fr.png" alt="en Francais" with="16px" height="11px"></a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Alex Girard<br />
        Web developer - Geek - Hacker<br />
        alx.girard@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/alx/">github.com/alx</a><br />
        <a href="http://twitter.com/alx/">twitter.com/alx</a><br />
        <a href="http://flickr.com/photos/alx/">flickr.com/photos/alx</a>
      </p>
    </div>
    <div class="rss">
      <a href="/rss.xml">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-56877-9");
pageTracker._trackPageview();

//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script type="text/javascript" src="http://disqus.com/forums/alexgirard/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

</body>
</html>
